.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.git/
.gitignore

.env
kaggle.json

Dataset/Raw/*
Dataset/Processed/*
!Dataset/Raw/.gitkeep
!Dataset/Processed/.gitkeep

Notebooks/.ipynb_checkpoints/
.claude/
