Dataset/Raw/large_*.csv
Dataset/Raw/artists_reduced.csv
Dataset/Raw/designers_reduced.csv
Dataset/Raw/publishers_reduced.csv
Dataset/Raw/games_detailed_info.csv

Dataset/Processed/merged_clean_sample.csv
*.npy
*.parquet
*.joblib
!Dataset/Processed/desc_topk_csr.joblib
!Dataset/Processed/content_topk_csr.joblib
!Dataset/Processed/emb_topk_csr.joblib

# Python venv
.venv/
**/.venv/